*{
    box-sizing:border-box;
}

body{
    margin:0px;
    padding:0px;
    font-family: 'Raleway', sans-serif;
}


.notes{
    position: absolute;
    left:50%;
    top:60%;
    transform:translate(-50%,-50%);
    width:50%;
    height: 200px;
    -webkit-transition: top 0.9s ease-out;
    -moz-transition: top  0.9s ease-out;
    -o-transition: top  0.9s ease-out;
    -ms-transition: top  0.9s ease-out;
    transition: top  0.9s ease-out;
    z-index: 9999999999999;
    
}

.load{
    top:50%;
}

.note{
    display:block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    background: linear-gradient(to bottom,#fff,#e1da86);
    box-shadow:0px 4px 8px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
}

.note-header{
    display: flex;
    background: #f2edab;
}

.header-content{
    width:50%;
    padding:10px;
    
}

.header-content:nth-child(1){
    margin-left:10px;
    margin:10px;
}

.header-content:nth-child(2){
    cursor: pointer;
    margin:10px;
    text-align: right;
}

.header-content .fa{
    margin-left:8px;
}

.note-area{
    padding:15px;
    resize:vertical;
    overflow: auto;
    outline: none;
    height: 300px;
}



.add-note{
    position: fixed;
    bottom:50px;
    right:50px;
    border-radius: 50%;
    padding:20px;
    color:#000;
    width:60px;
    background:    #e1da86;
    text-align: center;
    box-shadow:0px 4px 8px 0px rgba(0,0,0,0.2);
    cursor:pointer;
    z-index: 9999999999999;
}


img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 14px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }
  
  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    .notes{
        top:40%;
        width: 90%;
    }
  }